/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  min-height: 100vh; /* Ensure body takes full viewport height */
}

.container {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: auto; /* Center container vertically */
}

h1 {
  color: #333;
}

p {
  color: #666;
  margin-bottom: 20px;
}

/* Countdown Styles */
.countdown {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.countdown-item {
  margin: 0 20px;
}

.number {
  font-size: 2rem;
  font-weight: bold;
}

.label {
  display: block;
}

/* Subscribe Form Styles */
.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subscribe-form button {
  padding: 10px 15px;
  background-color: #00698f; /* Button color */
  color: white; /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color: #005f7f; /* Darker shade on hover */
}

/* Footer */
footer * {
  margin: 0;
  padding: 0;
}

footer {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 60px; /* Set a fixed height for the footer */
  font-size: 14px;
  background-color: #11607d; /* Footer background color */
}

footer p {
  color: white; /* Footer text color */
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
    text-decoration: underline; /* Add hover effect */
}

/* Responsive Styles */
@media (max-width: 600px) {
  .countdown {
      flex-direction: column; /* Stack countdown items vertically on small screens */
      align-items: center; /* Center items */
  }

  .countdown-item {
      margin-bottom: 10px; /* Add space between stacked items */
  }
}



